<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>脆弱性一覧</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-12">

    <hr/>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>タイプ</th>
            <th>CVE番号</th>
            <th>説明</th>
            <th>スコア</th>
        </tr>
        <tr th:each="valn : ${valunerabilities}">
            <td th:text="${valn.id}">100</td>
            <td th:text="${valn.name}">hogehoge</td>
            <td th:text="${valn.type}">cve</td>
            <td th:text="${valn.cveNo}">CVE-2099-00001</td>
            <td th:text="${valn.description}">Fuga</td>
            <td th:text="${valn.score}">9.00</td>
        </tr>
    </table>
</div>
</body>
</html>